@font-face{

	font-family: "Sarala";
	src: url('Sarala-Regular.ttf') format('truetype');
}
@font-face{

	font-family: "Bebas";
	src: url('BebasNeue-Regular.ttf') format('truetype');
}


@layer main{

	body{

		overflow:auto;

		display: flex;

		margin:0;

		padding:0;

		background: darkgrey;
	
		font-family: "Sarala";
		font-size: 20px;
	
		color: white;
	}

	h1{

		font-size: 60px;

		margin: 0px;
	}

	h2{

		font-size: 40px;

		margin: 0px;


		/*margin-left: 2em;*/

	}

	a > h2:hover{

		color: gray;
	}

	h3{

		font-size: 30px;

		margin: 0px;


		/*margin-left: 2em;*/

	}

	img#flag{

		border: 2px white solid;
		margin-left: 10px;
		border-radius: 5px;
		width: 2.691vw;
	}

	a:visited {

		color: white;
	}

	.left-side{

		margin:0px;
		padding: 50px;

		display: flex;

		height: 85vh;

		align-self: stretch;

		align-items: stretch;

		flex-direction: row;
		gap: 60px;

		background: black;
	}

	.left-side-left{

		align-self: center;


	}

	.left-side-right{

		display: flex;
		flex-direction: column;
		/*width: 40vw;*/

	}	

	.left-side-right > p {

		display: block;
		margin-left: 2.691vw;
		font-size: 17px;
		width: 30vw;

	}

	ul{

		font-size: 15px;
		list-style-position: inside;
		padding: 20px;
		border: 5px solid white;
		border-radius: 0.5em;
		align-self: stretch;
	}

	.preferences-area{

		display: flex;
		flex: 1;
		gap: 40px;

		align-self: center;


	}

	.preferences-area.pref-column{

		flex:1;
		width: 20.183vw;
	}

	.right-side{

		margin-top: 3.282vh;
		margin-left: 3.364vw;

		display: flex;
		flex-direction: column;

	}

	.right-side-element{

		display:flex;
		
		flex-direction: row;
		width: 16.819vw;

		align-items: center;
		gap: 20px;
	}


	.right-side-element * p{

		margin: 0px;
		padding: 0px;

		width: 20.183vw;

	}

	.right-side-element * h2{

		font-size: 30px;
	}


	.right-side-element.block{
		display: block;

	}

	.right-side-bottom{

		position: relative;
		bottom: 72.213vh;
		display: flex;
		flex-direction: column;
	}

	.right-side-bottom.row{

		flex: 1;

		background: yellow;
	}


	#bsky{

		align-items: start;

	}

	#kofi{

		position: relative;
		left: 15.137vw;
		bottom: 9.847vh;
		text-align: end;

	}

	#kofi * p{

		width: 13.455vw;
		position: relative;
		bottom: 1.969vh;
	}

	#kofi * h2{

		position: relative;
		
		bottom: 1.969vh;



	}

	#spotify{

		position: relative;
		align-items: center;
		top: 9.847vh;
	}

	#spotify * p {

		top: 3.282vh;
		position: relative;

	}	

	#spotify * h2 {

		top: 3.282vh;
		position: relative;

	}


	#cohost{

		display: flex;
		flex-direction: column;

		text-align: center;
		position: relative;
		left:21.865vw;
		bottom: 42.671vh;

	}

	#cohost * p{

		position: relative;
		bottom: 3.282vh;
		width: 16.819vw;

	}

	#cohost * h2{

		position: relative;
		bottom: 3.282vh;



	}

	#misskey{

		position: relative;
		bottom: 98.473vh;
		align-items: start;


	}

	#misskey * h2{
		position: relative;
		right: 1.682vw;
		top: 6.565vh;

	}

	#misskey * p{
		position: relative;
		top: 6.565vh;
		width: 10.091vw;

	}


}
